html {
  margin: 0px;
  padding: 0px;
}
body {
  background: #F6F5F3 url('../img/page-background.jpg') no-repeat center top;
  margin: 0px;
  padding: 0px;
  font-family: 'Roboto', sans-serif;
}
input,
textarea,
button {
  font-family: 'Roboto', sans-serif;
}
h2 {
  font-weight: 300;
}
.modal .modal-dialog .modal-header .close {
  font-size: 36px;
}
.inset-top {
  box-shadow: inset 0 10px 10px -10px #d3d3d3;
}
.container-fluid.no-padding > [class*='col-'] {
  padding-right: 0;
  padding-left: 0;
}
.container-fluid.no-padding > .row > [class*='col-'] {
  padding-right: 0;
  padding-left: 0;
}
.socials {
  position: relative;
  float: left;
  width: 100%;
  overflow: auto;
}
.socials .social {
  display: block;
  position: relative;
  float: left;
  width: 27px;
  height: 25px;
  margin: 0px 5px 5px 0px;
  background: transparent url('../img/social.png') no-repeat top left;
}
.socials .social.fb {
  background-position: -60px 0px;
}
.socials .social.vk {
  background-position: -90px 0px;
}
.socials .social.tw {
  background-position: -120px 0px;
}
.socials .social.fb:hover {
  background-position: -60px -30px;
}
.socials .social.vk:hover {
  background-position: -90px -30px;
}
.socials .social.tw:hover {
  background-position: -120px -30px;
}
.tags {
  position: relative;
  float: left;
  width: 100%;
  overflow: auto;
}
.tags .tag {
  position: relative;
  float: left;
  display: block;
  white-space: nowrap;
  background-color: #EDF1F1;
  color: #666666;
  margin: 0px 5px 5px 0px;
  padding: 0px 5px;
  line-height: 21px;
  font-size: 12px;
  font-weight: 300;
  text-decoration: none;
}
.tags .tag.date {
  background-color: #00519B;
  color: #FFFFFF;
}
.tags .tag:hover {
  background-color: #385272;
  color: #FFFFFF;
}
.row.no-padding > [class*="col-"] {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.navbar-container {
  height: 50px;
}
.navbar-container nav.navbar {
  margin-bottom: 0px;
  border-radius: 0px;
  border: 0px;
}
.navbar-container nav.navbar ul.nav {
  margin: 0px 10px;
}
.navbar-container nav.navbar ul.nav > li > a {
  color: #FFFFFF;
  font-weight: 100;
  text-transform: uppercase;
  padding-left: 15px;
  padding-right: 15px;
}
.navbar-container nav.navbar ul.nav > li > a:hover {
  background-color: #2483D6;
}
.navbar-container nav.navbar ul.nav > li > a:focus {
  background-color: transparent;
}
.navbar-container nav.navbar ul.nav > li.active > a {
  font-weight: bold;
}
.page-section {
  position: relative;
  width: 100%;
  float: left;
  clear: both;
  margin-bottom: 0px;
}
.page-section .section-content {
  position: relative;
  margin: 0 auto;
  width: 980px;
  overflow: auto;
  background-color: #FFFFFF;
}
header.page-section {
  margin: 0px 0px;
}
header.page-section .section-content {
  background-color: #0154A0;
}
header.page-section .section-content .header-details {
  margin: 60px 0px;
}
header.page-section .section-content .header-details h1 {
  color: #FFFFFF;
  font-size: 3.0em;
}
header.page-section .section-content .header-details h3 {
  color: #76A0C6;
  font-weight: 100;
}
.page-navbar.affix {
  top: 0px;
  background-color: #0154A0;
  width: 980px;
  z-index: 10000;
}
footer.page-section {
  margin-bottom: 100px;
  color: #FFFFFF;
}
footer.page-section .section-content {
  background-color: #0154A0;
}
footer.page-section .copyright {
  margin: 0px 25px 10px 25px;
  color: #FFFFFF;
  font-size: 10px;
  font-weight: 100;
  line-height: 12px;
}
footer.page-section .navbar-container nav.navbar ul.nav > li > a:hover {
  background-color: transparent;
  text-decoration: underline;
}
section.section-super {
  margin-top: 100px;
}
section.section-super .section-content .super-header {
  background: transparent url('../img/header.png') no-repeat center center;
  width: 100%;
  height: 490px;
}
section.widget-offers .offers-background {
  display: block;
  height: 160px;
  width: 100%;
}
section.widget-media {
  min-height: 400px;
}
section.widget-media ul.nav-pills {
  margin: 20px 0px 0px -15px;
}
section.widget-media ul.nav-pills > li > a {
  border-radius: 0px;
  border: none;
  border-left: solid 5px transparent;
  line-height: 1.3em;
  color: #333333;
  font-weight: 500;
  padding-left: 20px;
}
section.widget-media ul.nav-pills > li.active > a {
  border-left: solid 5px #AD1417;
  background-color: #FF5252;
  color: #FFFFFF;
}
section.widget-media .media-navs {
  margin: 30px 0px;
}
section.widget-media .media-navs h2 {
  padding-left: 5px;
}
section.widget-media .media-tags {
  margin: 30px 0px;
}
section.widget-media .media-details {
  margin: 30px 0px;
  overflow: auto;
}
section.widget-media .media-details .details-title a {
  color: #333333;
  text-decoration: none;
}
section.widget-media .media-details .details-title a:hover {
  text-decoration: underline;
}
section.widget-media .media-details .details-promo {
  margin-bottom: 5px;
}
section.widget-media .media-details .details-socials {
  margin-bottom: 5px;
}
section.widget-tags .tags-panel {
  margin: 40px 10px;
  overflow: auto;
}
section.widget-search .search-tags {
  margin: 10px 0px 0px 0px;
  overflow: auto;
}
section.widget-search .search-tags .tags {
  margin: 0px;
}
section.widget-search .search-tags .tags .tag {
  margin-bottom: 0px;
}
section.widget-search .search-tags .tags .tag .close {
  opacity: 1;
  color: #999999;
  font-size: 14px;
  line-height: 22px;
}
section.widget-search .search-tags .tags .tag:hover {
  background-color: #EDF1F1;
  color: #333333;
}
section.widget-results {
  padding: 20px 15px;
}
section.widget-results .search-tags {
  margin: 35px 15px;
  overflow: auto;
}
section.widget-results .results-title {
  font-size: 32px;
  font-weight: 300;
  margin: 10px 0px;
}
section.widget-results .results-items {
  display: table;
  margin: 20px 0px 30px 0px;
}
section.widget-results .results-items .result-item {
  display: table-row;
}
section.widget-results .results-items .result-item .item-preview {
  display: table-cell;
  vertical-align: top;
  width: 170px;
  padding: 15px 10px 15px 0px;
}
section.widget-results .results-items .result-item .item-details {
  display: table-cell;
  vertical-align: top;
  padding: 15px 15px 15px 10px;
}
section.widget-results .results-items .result-item h3 {
  font-size: 16px;
  line-height: 24px;
  padding: 0px;
  margin: 0px 0px 6px 0px;
  display: block;
}
section.widget-results .results-items .result-item h3 a {
  color: #333333;
  text-decoration: none;
}
section.widget-results .results-items .result-item h3 a:hover {
  text-decoration: underline;
}
section.widget-results .results-items .result-item .details-promo {
  font-size: 13px;
  color: #555555;
  margin-bottom: 10px;
}
section.widget-results .results-items .result-item .details-promo > p {
  margin-bottom: 4px;
}
section.widget-search {
  background-color: #FCFCFC;
}
section.widget-search .search-query {
  border-bottom: #A0A0A0;
  padding: 30px 20px;
}
section.widget-apply {
  background-color: #FCFCFC;
}
section.widget-apply .apply-button {
  padding: 30px 20px;
}
section.widget-media-details {
  padding: 20px 20px;
}
section.widget-media-details .details-title {
  font-size: 32px;
  font-weight: 300;
  margin: 10px 0px;
}
section.widget-media-details .details-promo {
  margin-bottom: 10px;
  font-weight: 300;
  overflow: auto;
  color: #333333;
}
section.widget-media-details .details-description {
  margin-bottom: 10px;
  overflow: auto;
  color: #333333;
}
section.widget-media-details .details-image {
  margin-bottom: 10px;
}
section.widget-media-details .details-socials {
  margin-bottom: 10px;
  overflow: auto;
}
section.widget-media-details .details-tags {
  margin-bottom: 10px;
  overflow: auto;
}
section.widget-media-feed {
  padding: 20px 20px;
}
section.widget-media-feed .feed-title {
  margin: 15px 0px;
  font-weight: 500;
}
section.widget-media-feed .feed-items .item {
  display: block;
  font-size: 13px;
  line-height: 19px;
  margin: 15px 0px;
  color: #333333;
}
section.widget-media-feed .feed-items .item:hover {
  text-decoration: underline;
}
