<template id="default-table">
    <section class="wg wg-default-table"  :id="bindings.id" :style="{
        border: bindings.outerBorder,
        background: bindings.outerBackground,
    }">
        <div class="wg wg-content" :style="{
            margin: bindings.margin,
            padding: bindings.padding,
            border: bindings.innerBorder,
            background: bindings.innerBackground,
        }">
            <table >
                <thead>
                <tr>
                    <th v-for="item in bindings.columns">
                        {{ item.title }}
                    </th>
                </tr>
                </thead>

                <tbody v-for="item in data.table | jsonPath bindings.jsonpath">
                <tr>
                    <td v-for="param in bindings.columns">
                        {{ item | jsonPath param.value }}
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </section>
</template>
