.wg.wg-default-table .wg.wg-content {
  box-sizing: border-box;
}
.wg.wg-default-table .wg.wg-content table {
  width: 100%;
  color: #fff;
}
.wg.wg-default-table .wg.wg-content table td {
  border-bottom: 1px solid black;
}
