<template id="default-table">
    <section class="wg wg-default-table" id="{{ bindings.id }}" style="
        {{ bindings.outerBorder | style 'border' }}
        {{ bindings.outerBackground | style 'background' }}
    ">
        <div class="wg wg-content" style="
            {{ bindings.margin | style 'margin' }}
            {{ bindings.padding | style 'padding' }}
            {{ bindings.innerBorder | style 'border' }}
            {{ bindings.innerBackground | style 'background' }}
        ">
            <table >
                <thead>
                <tr>
                    <th v-for="item in bindings.columns">
                        {{ item.title }}
                    </th>
                </tr>
                </thead>

                <tbody v-for="item in fetchData | jsonPath bindings.jsonpath">
                <tr>
                    <td v-for="param in bindings.columns">
                        {{ item | jsonPath param.value }}
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </section>
</template>
