.ld.ld-manage {
  background: transparent;
}
.ld.ld-manage .ld.ld-table {
  display: table;
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
}
.ld.ld-manage .ld.ld-table .ld.ld-cell {
  display: table-cell;
  vertical-align: middle;
}
