.ld.ld-page {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: #262633;
  overflow: auto;
}
.ld.ld-page .ld.ld-container {
  width: 1200px;
  margin: 0px auto;
  position: relative;
  overflow: visible;
}
.ld.ld-page .ld.ld-section {
  position: relative;
  overflow: visible;
}
.ld.ld-page .ld.ld-section .ld.ld-offset-header {
  display: table;
  width: 100%;
  margin: 20px 0px;
}
.ld.ld-page .ld.ld-section .ld.ld-offset-header a.btn.btn-primary {
  background: #D8C13A;
  border-color: #D8C13A;
  color: #141422;
  margin: 10px 0px 0px 0px;
}
.ld.ld-page .ld.ld-section .ld.ld-offset-header a.btn.btn-primary:hover {
  background: #E2D16B;
  border-color: #E2D16B;
}
.ld.ld-page .ld.ld-section .ld.ld-offset-header h3.ld.ld-decorate {
  display: block;
  position: relative;
  overflow: visible;
  color: #FFFFFF;
  padding: 5px 8px;
  line-height: 1.4em;
  margin: 0px 0px;
}
.ld.ld-page .ld.ld-section .ld.ld-offset-header h3.ld.ld-decorate:after {
  content: '';
  display: block;
  position: absolute;
  background-color: #2ECE9D;
  height: 4px;
  width: 10000px;
  margin-top: -2px;
  top: 50%;
}
.ld.ld-page .ld.ld-section .ld.ld-offset-header h3.ld.ld-decorate.ld-decorate-left {
  float: left;
  border: 2px solid #2ECE9D;
  border-left: 4px solid #2ECE9D;
  background: rgba(46, 206, 157, 0.15);
}
.ld.ld-page .ld.ld-section .ld.ld-offset-header h3.ld.ld-decorate.ld-decorate-left:after {
  left: auto;
  right: 100%;
}
.ld.ld-page .ld.ld-section .ld.ld-offset-header h3.ld.ld-decorate.ld-decorate-right {
  float: right;
  border: 2px solid #15A0BF;
  border-right: 4px solid #15A0BF;
  background: rgba(21, 160, 191, 0.15);
}
.ld.ld-page .ld.ld-section .ld.ld-offset-header h3.ld.ld-decorate.ld-decorate-right:after {
  left: 100%;
  right: auto;
}
.ld.ld-page .ld.ld-section .ld.ld-message {
  color: #D0D0D2;
  font-size: 1.7em;
  font-weight: 300;
  line-height: 1.7em;
}
.ld.ld-page .ld.ld-section .ld.ld-video {
  background-color: #141422;
  border-radius: 1em;
  padding: 1.5em;
  height: 300px;
}
