.ge.ge-shell {
  font-family: 'Roboto', sans-serif;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: #34495E;
}
.ge.ge-shell .ge.ge-head {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  height: 80px;
}
.ge.ge-shell .ge.ge-body {
  position: absolute;
  top: 80px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}
.ge.ge-shell .ge.ge-body .ge.ge-subnav {
  background: #1F2E3C;
}
.ge.ge-shell .ge.ge-body .ge.ge-editor {
  background-color: #F3F7F7;
}
.ge.ge-shell .ge.ge-nav {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 220px;
  bottom: 0px;
  padding-bottom: 20px;
}
.ge.ge-shell .ge.ge-subnav {
  position: absolute;
  top: 0px;
  left: 220px;
  width: 280px;
  bottom: 0px;
}
.ge.ge-shell .ge.ge-structure {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 220px;
  bottom: 0px;
}
.ge.ge-shell .ge.ge-editor {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 500px;
  right: 220px;
}
.ge.ge-shell .ge.ge-editor .ge.ge-container {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}
.ge.ge-shell .ge.ge-editor .ge.ge-container .ge.ge-page {
  width: 960px;
  min-height: 1200px;
  margin: 50px auto 50px auto;
  background-color: #FFFFFF;
  box-sizing: border-box;
  border: 1px solid #E5E5E5;
}
.ge.ge-shell .ge.ge-panel {
  margin-bottom: 40px;
}
.ge.ge-shell .ge.ge-panel .ge.ge-overlays {
  float: right;
}
.ge.ge-shell .ge.ge-panel .ge.ge-overlays .ge.ge-overlay {
  color: #FFFFFF;
  opacity: 0.7;
  cursor: pointer;
}
.ge.ge-shell .ge.ge-panel .ge.ge-overlays .ge.ge-overlay:hover {
  opacity: 1;
}
.ge.ge-shell .ge.ge-panel h5 {
  color: #FFFFFF;
  padding: 10px 15px;
  margin: 0px 0px;
}
.ge.ge-shell .ge.ge-panel ul.nav > li {
  margin: 0px;
}
.ge.ge-shell .ge.ge-panel ul.nav > li > a {
  padding: 10px 15px 10px 40px;
  border-radius: 0px;
  color: #FFFFFF;
  font-size: 1.0em;
  font-weight: 300;
  outline: none;
}
.ge.ge-shell .ge.ge-panel ul.nav > li > a:hover,
.ge.ge-shell .ge.ge-panel ul.nav > li > a:focus {
  background-color: #263949;
}
.ge.ge-shell .ge.ge-panel ul.nav > li > a .ge.ge-overlays {
  display: none;
}
.ge.ge-shell .ge.ge-panel ul.nav > li > a:hover .ge.ge-overlays {
  display: block;
}
.ge.ge-shell .ge.ge-panel ul.nav > li.active > a {
  background-color: #1F2E3C;
}
