<template id="default-slider">

    <!--<div v-for="item in data.slider">-->

        <!--<pre>-->
            <!--{{ item.id }}-->
        <!--</pre>-->

    <!--</div>-->

    <pre>
        {{ bindings.ItemsData | json 4 }}
    </pre>


    <section class="wg wg-default-slider" :id="bindings.id" :style="{
        border: bindings.outerBorder,
        background: bindings.outerBackground,
    }">
        <div class="wg wg-content" :style="{
            margin: bindings.margin,
            padding: bindings.padding,
            border: bindings.innerBorder,
            background: bindings.innerBackground,
        }">
            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner" role="listbox">
                    <div v-for="item in fetchData" class="item {{ $index == 0 ? 'active' : ''}}">
                        <img src="https://ru.bookagolf.com/api/v1/portal/i/5/adverts/items/i/{{ item.id }}/thumbnail">
                    </div>
                </div>

                <!-- Controls -->
                <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </section>
</template>
