{% extends 'NTR1XLayoutBundle:private-layout.html.twig' %}

{% block editor %}

<div
	data-vue
    data-params="{{ [
        { in: 'path', name: 'portal', required: true, type: 'string', value: '1', binding: '${$.request.path.portal}', specified: true },
        { in: 'query', name: 'portal', required: false, type: 'string', value: '1', binding: '', specified: true },
        { in: 'formData', name: 'portal', required: false, type: 'string', value: '1', binding: '${$.request.path.portal}' },
    ] | serialize('json') }}"
	data-model="{{ settings | serialize('json') }}"
    data-widgets="{{ [] | serialize('json') }}"
>

{% raw %}

  <pages-widgets :items.sync="widgets" :globals.sync="model"></pages-widgets>

  <pre>{{ widgets | json 4 }}</pre>

	<settings :model.sync="model" :globals.sync="model" inline-template>

        <section>
            <nav class="navbar">
                <a class="btn btn-primary navbar-btn" @click="pull">Pull</a>
                <a class="btn btn-primary navbar-btn" @click="open(globals)">Edit</a>
                <a class="btn btn-primary navbar-btn" @click="push">Push</a>
            </nav>
        </section>
    </settings>

    <pre>{{ model | json 4 }}</pre>

{% endraw %}

</div>

{% endblock %}
