{% extends 'NTR1XLayoutBundle:private-schemes-list.html.twig' %}

{% block editor %}

	<form enctype="multipart/form-data" id="form-create" method="POST"
		action="{{ path('admin-layout-schemes-do-create') }}"
	>
		<div class="container-fluid">
			<div class="row">
				<div class="col-xs-12">
					<h1>Новая схема</h1>
				</div>
				<div class="col-xs-12 col-md-6">
					<div class="form-group">
						<label for="form-create-name">Имя</label>
						<input class="form-control" type="text" id="form-create-name" name="name" required="true" value="{{ form.inputData['$.request.name']|e }}" />
					</div>
					<div class="form-group">
						<label for="form-create-url">URL</label>
						<input class="form-control" type="text" id="form-create-url" name="url" required="true" value="{{ form.inputData['$.request.name']|e }}" />
					</div>
					<section>
						<nav class="navbar">
							<input type="submit" class="btn btn-primary navbar-btn" value="Добавить" />
						</nav>
					</section>
				</div>
			</div>
		<div>

	</form>

{% endblock %}