{% extends 'NTR1XLayoutBundle:private-domains-update.html.twig' %}

{% block editor %}

	<form enctype="multipart/form-data" id="form-update" method="POST"
		action="{{ path('admin-layout-domains-settings-do-update') }}"
		data-vue
	>

		<div class="container-fluid">
			<div class="row">
				<div class="col-xs-12">
					<h1>Настройки</h1>
				</div>
				<div class="col-xs-12 col-md-6">

					<input type="hidden" name="id" value="{{ domain.id }}" />

					<section>
						<table is="grid-table" inline-template class="table table-inline" :d="{{ domain.settings | serialize('json') }}">
							<thead>
							<tr>
								<th>Ключ</th>
								<th>Значение</th>
								<th><a class="btn btn-xs btn-primary" v-on:click="add">Добавить</a></th>
							</tr>
							</thead>
							<tbody>
								<tr v-for="item in items">
									<td><inline-text :name="'settings[' + $index + '][key]'" :value="item.key"></inline-text></td>
									<td><inline-text :name="'settings[' + $index + '][value]'" :value="item.value" /></inline-text></td>
									<td><a class="btn btn-xs btn-danger" v-on:click="remove($index)">Удалить</a></td>
								</tr>
							</tbody>
						</table>

					</section>

					<section>
						<nav class="navbar">
							<button type="submit" class="btn btn-primary navbar-btn"
							>Сохранить</button>
						</nav>
					</section>

				</div>
			</div>
		</div>

	</form>

{% endblock %}