<template id="default-menu">

    <section v-if="!bindings.items" class="wg wg-default-menu" :id="bindings.id" :style="{
        border: bindings.outerBorder,
        background: bindings.outerBackground,
    }">
        <div class="wg wg-content" :style="{
            margin: bindings.margin,
            padding: bindings.padding,
            border: bindings.innerBorder,
            background: bindings.innerBackground,
        }">
            <ul class="site-menu clearfix">
                <li v-for="item in fetchData.children" class="menu-element {{ (item.children.length > 0) ? 'dropdown' : '' }}">
                    <a href="{{ (item.children.length > 0) ? '#' : item.desc.data.URL }}"
                       class="{{ (item.children.length > 0) ? 'dropdown-toggle' : '' }}"
                       type="{{ (item.children.length > 0) ? 'button' : '' }}"
                       id="{{ (item.children.length > 0) ? 'dropdownMenu1' : '' }}"
                       data-toggle="{{ (item.children.length > 0) ? 'dropdown' : '' }}"
                       aria-expanded="{{ (item.children.length > 0) ? 'true' : '' }}"
                       style="{{ (item.children.length > 0) ? '' : 'color: #fff;' }}"
                    >{{ item.desc.data.TITLE }}</a>
                    <span v-if="item.children.length > 0" class="caret"></span>
                    <ul v-if="item.children.length > 0" class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                        <li v-for="item in item.children" style="background: rgba(71, 107, 12, 0.95);">
                            <a href="{{ item.desc.data.URL }}" style="color: #fff;">{{ item.desc.data.TITLE }}</a>
                        </li>
                    </ul>
                </li>
                <li class="menu-element"><a class="bookagolf-logo" href="#"><img src="https://ru.bookagolf.com/assets/img/logo.png" alt=""></a></li>
            </ul>
        </div>
    </section>

    <section v-if="bindings.items" class="wg wg-default-menu" :id="bindings.id" :style="{
        border: bindings.outerBorder,
        background: bindings.outerBackground,
    }">
        <div class="wg wg-content" :style="{
            margin: bindings.margin,
            padding: bindings.padding,
            border: bindings.innerBorder,
            background: bindings.innerBackground,
        }">
            <ul class="site-menu clearfix">
                <li v-for="item in bindings.items" class="menu-element">
                    <a href="{{ item.url }}" style="color: #fff;">{{ item.title }}</a>
                </li>
                <li class="menu-element"><a class="bookagolf-logo" href="#"><img src="https://ru.bookagolf.com/assets/img/logo.png" alt=""></a></li>
            </ul>
        </div>
    </section>

</template>
