<template id="default-menu">

    <section class="nav " style="">
        <div class="widget-content no-overflow" style="
            background: rgba(71, 107, 12, 0.95);
            color: #fff;
        ">
            <ul class="site-menu clearfix">
                <li v-for="item in fetchData.children" class="menu-element {{ (item.children.length > 0) ? 'dropdown' : '' }}">
                    <a href="{{ (item.children.length > 0) ? '#' : item.desc.data.URL }}"
                       class="{{ (item.children.length > 0) ? 'dropdown-toggle' : '' }}"
                       type="{{ (item.children.length > 0) ? 'button' : '' }}"
                       id="{{ (item.children.length > 0) ? 'dropdownMenu1' : '' }}"
                       data-toggle="{{ (item.children.length > 0) ? 'dropdown' : '' }}"
                       aria-expanded="{{ (item.children.length > 0) ? 'true' : '' }}"
                       style="{{ (item.children.length > 0) ? '' : 'color: #fff;' }}"
                    >{{ item.desc.data.TITLE }}</a>
                    <span v-if="item.children.length > 0" class="caret"></span>
                    <ul v-if="item.children.length > 0" class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                        <li v-for="item in item.children" style="background: rgba(71, 107, 12, 0.95);">
                            <a href="{{ item.desc.data.URL }}" style="color: #fff;">{{ item.desc.data.TITLE }}</a>
                        </li>
                    </ul>
                </li>
                <li class="menu-element"><a class="bookagolf-logo" href="#"><img src="https://ru.bookagolf.com/assets/img/logo.png" alt=""></a></li>
            </ul>
        </div>
    </section>

    <!--
    <section data-role="widget" style="
        background: {{ params.outerBackground.value }}
    ">
        <ul>
            <li v-for="item in fetchData.children">
                <a href="{{ item.desc.data.URL }}">{{ item.desc.data.TITLE }}</a>
            </li>
        </ul>
    </section>
-->

</template>
