// "out": "palette.css"

.ge.ge-palette {

    .ge.ge-palette-item {

        margin: 20px 20px 0px 20px;

        &:last-child {
            margin-bottom: 20px;
        }

        img {
            width: 240px;
            border: 1px solid #3C4049;
            box-sizing: border-box;

            &:hover {
                border: 1px solid #CCDAC6;
            }
        }
    }
}
