<template id="shell-widget">
    <div class="ge ge-widget">
        <div class="ge ge-content">
            <div
                :is="widget.tag"
                :page.sync="page"
                :data.sync="globals.data"
                :bindings.sync="bindings"
            ></div>
        </div>
        <div class="ge ge-overlay">
            <div class="ge ge-settings">
                <a href="#" v-if="!editable" @click.stop.prevent="removeWidget()">Remove</a>
                <a href="#" v-if="!editable" @click.stop.prevent="showSettings()">Settings</a>
                <a href="#" v-if="!editable" @click.stop.prevent="lockWidget()">Lock</a>
                <a href="#" v-if="editable" @click.stop.prevent="unlockWidget()">Unlock</a>
            </div>
        </div>
    </div>
</template>
