<template id="default-stack-vertical">
    <section class="wg wg-default-stack wg-default-stack-vertical">
        <div class="wg wg-content">
            <div class="wg wg-table"
                ><div class="wg wg-row" v-for="item in items" v-if="item._action != 'remove'">
                    <div class="wg wg-inner">
                        <shell-widget
                            :globals.sync="globals"
                            :settings.sync="settings"
                            :stack.sync="page"
                            :page.sync="page"
                            :data.sync="item"
                        ></shell-widget>
                    </div>
                </div
            ></div>
        </div>
    </section>
</template>
