.wg-default-nav .nav li a {
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
}
.wg-default-nav .nav li a:hover,
.wg-default-nav .nav li a:focus {
  text-decoration: none;
  background-color: transparent;
}
