<section class="widget-media-feed" id="{{ sid }}">
	<h3 class="feed-title">{{ category.title }}</h3>
	<div class="feed-items">
		{% for item in items %}
			<a class="item" href="/media/i/{{ item.id }}">{{ item.title }}</a>
		{% endfor %}
	</div>
</section>